*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondonegro{
    background-color: black;
}
.titulomarron{
    color:rgb(255, 255, 255);
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    background-color: rgb(54, 54, 54);
    color:aliceblue;
    font-size: 20px; 
}

.facebook{
    width:35px;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;    
}
.instagram{
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;   
}
.whatsapp{
    width: 50px;
    height: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
      
}
.navegador{
    display: flex;
    align-items:center;
    justify-content:center
}

.navegador ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    width: 600px;
    list-style-type: none;
  }
.li{
    text-decoration: none;
}

.parrafoprincipal{
        color: aliceblue;
        font-size: 20px;
        height: 400px;
        text-align: justify;
}

.fotoprincipal2{
    width: 700px;
}
.quehacemos{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    text-align:center
    
}
.Encontranos{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;



}

.somos{
    display: flex;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    animation-name: agrandar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;

}
.parrafosomos{
    display: flex;
    color: aliceblue;
    font-size: 15px;
}
.parrafotitulonosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}
.parrafotitulonosotros2{
    padding: 50px;

}
.mainosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.fotonosotros{
    height: 450px;
    width: 900px;
    border-radius: 50px;
}
@keyframes agrandar {
    0%{font-size: 35px;}
    25%{font-size: 40px;}
    50%{font-size: 45px;}
    75%{font-size: 40px;}
    100%{font-size: 35px;}

 
    
}
#cafes{
    color: aliceblue;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.americano{
    height: 300px;
    width: 400px;
}

.frappe{

    height: 400px;
    width: 400px;
}
.capuccino{
    height: 400px;
    width: 400px;
}

.titulocafe{
    font-size: 40px;
}
.cafe1{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 600px;
    }

.cafe0{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cafelungo{
    margin-left: 300px;
}
.cafetitulo{
    font-size: 30px;
    margin-left: 130px;
    margin-bottom: 10px;
}

.cafetextos{
    margin-bottom: 15px;
}
.tostado{
    width: 400px;
    height: 300px;
}

.contenedorcafes{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr;
    grid-template-areas: 
    "header" 
    "nav"
    "main"
    "footer";
}
@media screen and (max-width: 500px){
    .contenedorcafes{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr;
        grid-area: 
        "header"
        "nav"
        "main"
        "footer";
    }
    .cafe0{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}
a{
    text-decoration: none;
    color: aliceblue;
}

.contenedornosotros{
    background-color: black;
    display: grid;

}
@media screen and (max-width: 500px){
    .contenedornosotros{
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 2fr 0.1fr;
        grid-area: 
        "header"
        "nav"
        "main"
        "footer";
    }
    .parrafotitulonosotros{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
    }
    .centrotitulo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.seccionparrafo{
    width: 900px;
}

.seccion1{
    display:flex;
    justify-content: space-around;
    align-items: centerg;
}
.contenedorinicio{
    background-color: black;
}
@media screen and (max-width: 500px){
.contenedorinicio{
    display: grid;
    background-color: black;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 2.6fr 0.1fr;
    grid-area: 
    "header"
    "nav"
    "main"
    "section"
    "footer";
}
.seccion1{
    display:flex;
    flex-direction:column;
    align-items: center;

}
}